<ion-header>
  <ion-toolbar>
    <ion-title>productpage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div>
  <h1 style="margin-left: 10px;">WhiskyPedia</h1>
  <ion-grid>
    <ion-row style="border-bottom: 1px solid;padding-bottom: 10px;">
      <ion-col col-6 style="border-radius: 30px">
        <ion-searchbar
          type="text"
          placeholder="Type service name"
          [(ngModel)]="serviceKeyword"
        >
        </ion-searchbar>

      </ion-col>
      <ion-col size-6 style="margin-top:12px">
        
        <ion-button size="block" shape="outline"  color=" dark" >Filter<ion-icon slot="end" name="funnel"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
 </div>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-col size-10>
        <ion-thumbnail item-start>
          <img src="assets/imgs/winelogo.jpg" />
        </ion-thumbnail>
      </ion-col>

      <label><p>{{item.title}}</p></label>

      <ion-col size-2>
        <ion-button  shape="outline" color="dark" (click)="loadUser()">
          Tasting</ion-button>
        
       <img src="assets/imgs/tip.png"/>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>
