.headingDiv{
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 100%;
    color: brown;
   // margin-top: 20px;
}
p {
    font-size: 0.9em;
    color: #ea6153;
  }
.error-login{
  margin-left: 15px;
}
.error {
	font-size: 0.9em;
	color: #ea6153;
}
.error-register{
	margin-left: 15px;
}
.ios, .md, .wp {
	page-signup {
		 img{
		    width: 200px;
		    height: 200px;
		    margin-left:40px;
		    margin-right:55px;
		}

		
	}
	
	.error {
		font-size: 0.9em;
		color: #ea6153;
	}
	.error-register{
		margin-left: 15px;
	}
}
