<ion-header>
  <ion-toolbar>
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-top: 5px">
    <ion-row>
      <ion-col col-3 style=" text-align: center;">
        <img src="assets/imgs/person.png" />
      </ion-col>
      <ion-col col-6 style="float: right">
        Dirty Harry Dream of choice The Dalmore 40 year old
      </ion-col>
      <ion-col col-3>
        <ion-button size="small" shape="outline" color="dark"
          >43 Tasting</ion-button
        ><br />
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>

        <ion-icon name="star-half"></ion-icon>
      </ion-col>
    </ion-row>
  </div>

  <div>
    <ion-row>
      <ion-col col-6>
        <h1 style="text-align: center">Tasting</h1>
      </ion-col>
      <ion-col col-6>
        <ion-button class="button" size="block" shape="outline" color="dark"
          >Filter</ion-button
        ></ion-col
      >
    </ion-row>
  </div>
  <div style="text-align: center">
    <ion-row>
      <ion-col col-6>
        <ion-icon slot="start" name="play"></ion-icon>
        <!-- <img src="assets/imgs/arrow_left.png" style="height: 20px ;width: 20px; text-align: center;"/> -->
        <ion-card>
          <iframe
            width="100%"
            height="215"
            frameborder="0"
            allowfullscreen
          ></iframe> </ion-card
        ><br />
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon><br />

        <ion-button size="small" shape="outline" color="dark"
          >Add to<br />
          Flight<ion-icon name="wine"> </ion-icon>
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-card>
          <iframe
            width="100%"
            height="215"
            frameborder="0"
            allowfullscreen
          ></iframe> </ion-card
        ><br />
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon><br />
        <ion-button size="small" shape="outline" color="dark">
          Add to<br />
          Flight<ion-icon name="wine"></ion-icon
        ></ion-button>
      </ion-col>
    </ion-row>
  </div>
  <div style="margin-top: 10px;" >
    <h2  style="margin-left: 33px;">Whisky Pic</h2>
    </div>
    <div class=flex-col>
      <ion-grid>
        <ion-col col="3"  *ngFor="let data of datas">
          <img [src]="data.image"/>
        </ion-col>
      </ion-grid>
    
    </div>
    
</ion-content>
