img{
    height: 60px;
    text-align: center;
    width: 60px;
}
.button{
    margin-top: 12px;
}
.flex-col{
    //margin-top: 30px;
    text-align: -webkit-center;
}
.text{
    
    margin-left: 15px;
}