// .headingDiv{
//     display: flex;
//     justify-content: center;
//     font-size: 30px;
//     width: 100%;
//     color: brown;
//     margin-top: 30%
// }

.passwordlink{
    margin-top:50px;
}
.passwordlink a{
  text-decoration: none;
  color: #222;
}
p {
    font-size: 0.9em;
    color: #ea6153;
  }
.error-login{
  margin-left: 15px;
}