<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <div style="width: 100%" text-center>
    <ion-row class="login-logo" style="margin-top: 30px; text-align: center">
      <ion-col>
        <img
          src="assets/imgs/logo.jpg"
          width="150"
          height="150"
          style="border-radius: 50%"
        />
      </ion-col>
    </ion-row>
<div style="margin-top: 20px;">
    <form [formGroup]="loginForm">
      <ion-item>
        
        <ion-label position= "floating"> Email Address </ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <div
        class="error-login"
        *ngIf="!loginForm.controls.email.valid  && submitAttempt"
      >
        <p>* Please enter a valid email address.</p>
      </div>

      <ion-item>
       
        <ion-label position= "floating"> Password </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div
        class="error-login"
        *ngIf="loginForm.get('password').hasError('required') && submitAttempt"
      >
        <p>* Password field is required.</p>
      </div>
      <div
        class="error-login"
        *ngIf="loginForm.get('password').hasError('minlength') && submitAttempt "
      >
        <p>* Password must be a minimum of 8 charasters.</p>
      </div>
      <div
        class="error-login"
        *ngIf="loginForm.get('password').hasError('pattern') && submitAttempt "
      >
        <p>* Please enter a valid password.</p>
      </div>

      <div class="form-button">
        <ion-button
      expand="full"
      shape="round"
      color="primary"
      (click)="loginUser()"
      >Login</ion-button
    >
  </div>
    </form>
</div>
    <p style="text-align: center">Don't have a account?</p>
    <ion-button
      expand="full"
      shape="round"
      color="danger"
      (click)="formRegister()"
      >Register</ion-button
    >
  </div>
</ion-content>
