
  .headingDiv{
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 100%;
    color: brown;
   // margin-top: 20px;
}
.img-wrapper {
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
ion-card p{    font-size: 15px;
  text-align: center;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  margin-bottom: 2px;
  margin-top: 6px; }


ion-icon {
  font-size: 30px; 
}

ion-row{margin-left: 0px; margin-right: 0px;}

.box button{background:none;}