<ion-header>
  <ion-toolbar>
    <ion-title>highlight</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: lightgrey;">
<!-- <div style="margin-top: 20px;">
  <ion-row>
    <ion-col col-3>
      <ion-avatar>
        <img src="assets/imgs/person.png">
      </ion-avatar>
    </ion-col>
    <ion-col col-3>
      
        Harry<br/>
        <ion-button size="small" color-success  (click)="tip()">Tip</ion-button>
  
     
    </ion-col>
    
    <ion-col col-6>
      Harry 12 year old highland single mait scotch
    </ion-col>
  </ion-row>
</div> -->
<div style="margin-top: 30px;padding-left: 15px;padding-right: 15px;">
  <h1>Hightlight with japan</h1>
  <ion-row>
    <ion-col col-3 style="margin-left: 10px;">
      <ion-avatar>
        <img src="assets/imgs/person.png">
      </ion-avatar>
    </ion-col>
    <ion-col col-6 style="margin-right: 30px;">
       <label style="font-size:1.2em">Harry </label><br>
        <ion-button size="small" color-success  (click)="tip()">Tip</ion-button>

      
      </ion-col>
      <ion-col col-6 >
        
         Harry 12 year old highland single mait scotch
          
       
      </ion-col>
  </ion-row>
<div>
  
<ion-card>
  <iframe  width="100%" height="315"  frameborder="0" allowfullscreen></iframe>

</ion-card>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-badge color="warning" mode="ios">
          <ion-icon name="star"></ion-icon>
          4.5
        </ion-badge>
      </ion-col>
      <ion-col col-6 style="text-align: right;">
        <ion-button size="block" shape-outline (click)="tip()">Tip</ion-button>

      </ion-col>
    </ion-row>

  </ion-grid>

</div>
</div>
</ion-content>
